@model RedHorseProject.Models.ViewModel.AtvTourViewModel

@{
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Rezervasyonlar</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Onay Bekleyen Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>Ad Soyad</th>
                                        <th>Otel Adı</th>
                                        <th>Telefon Numarası</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Aksiyon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var record in Model.UnapprovedReservations)
                                    {
                                        <tr id="@record.Id">
                                            <td>
                                                @record.FirstName  @record.LastName
                                            </td>
                                            <td>
                                                @record.HotelName
                                            </td>
                                            <td>
                                                @record.Phone
                                            </td>
                                            <td>
                                                @{
                                                    var dateDisplay = record.CreatedDate.HasValue
                                                        ? record.CreatedDate.Value.ToString("dd.MM.yyyy")  
                                                        : "Tarih Yok";  
                                                }

                                                @dateDisplay

                                            </td>
                                            <td>
                                                <button href="" onclick="openDetailsModal(@record.Id)" class="btn btn-primary">Detaylar</button>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Onaylanan Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                     
                                        <th>Ad Soyad</th>
                                        <th>Otel Adı</th>
                                        <th>Telefon Numarası</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Aksiyon</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var record in Model.ApprovedReservations)
                                    {
                                        <tr id="@record.Id">
                                            <td>
                                                @record.FirstName  @record.LastName
                                            </td>
                                            <td>
                                                @record.HotelName
                                            </td>
                                            <td>
                                                @record.Phone
                                            </td>
                                            <td>
                                                @{
                                                    var dateDisplay = record.CreatedDate.HasValue
                                                        ? record.CreatedDate.Value.ToString("dd.MM.yyyy")
                                                        : "Tarih Yok";
                                                }

                                                @dateDisplay

                                            </td>
                                            <td>
                                                <button href="" onclick="openDetailsModal(@record.Id)" class="btn btn-primary">Detaylar</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


