@model List<EntityLayer.Concrete.Agency>


@{
    ViewBag.Title = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <section class="section">
        <div class="section-header">
            <h1>Müşteriler</h1>
        </div>
    </section>
    <div class="card-header">
        <h4>Kayıtlı Acenteler</h4>
    </div>
        <div class="card-body p-0">
            <div class="table-responsive table-invoice">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Acente Adı</th>
                            <th>Katılma Tarihi</th>
                            <th>Detay</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>


                                <td>@item.AgencyName</td>
                                <td class="font-weight-600">
                                    @item.CreatedDate.ToString("dd.MM.yyyy")
                                </td>
                                <td>
                                    <button href="" onclick="openCustomerModal(@item.Id)" class="btn btn-primary">Detaylar</button>
                                </td>
                                <td>
                                    <a onclick="UpdateCustomerStatus(@item.Id)"
                                       class="btn @(item.Status ? "btn-danger" : "btn-primary")">
                                        @(item.Status ? "Deaktif et" : "Aktif et")
                                    </a>

                                </td>


                            </tr>
                        }

                    </tbody>


                </table>
            </div>
        </div>
    </div>
