@model RedHorseProject.Models.ViewModel.ToursViewModel


@{
    ViewBag.Title = "Rezervasyon Onayı";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<section class="section">
    <div class="section-header">
        <h1>Rezervasyonlar</h1>
    </div>
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Onay Bekleyen Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>

                                        <th>Acente Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Aksiyon</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.InactiveTours)
                                    {
                                        <tr id="@item.Id">

                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>
                                                @{
                                                    var dateDisplay = item.CreatedDate.HasValue
                                                        ? item.CreatedDate.Value.ToString("dd.MM.yyyy")
                                                        : "Tarih Yok";
                                                }

                                                @dateDisplay
                                            </td>

                                            <td>
                                                <button href="" onclick="openRezervationModal()" class="btn btn-primary">Detaylar</button>
                                            </td>
                                            <td>
                                                <a onclick="ConfirmRezervation(@item.Id)" class="btn btn-secondary">Onayla</a>

                                                <a onclick="CancelRezervation(@item.Id)"  class="btn btn-secondary">Reddet</a>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Onaylanan Rezervasyonlar</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                      
                                        <th>Acente Adı</th>
                                        <th>Oluşturulma Tarihi</th>
                                        <th>Aksiyon</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ActiveTours)
                                    {
                                        <tr id="@item.Id">

                                            <td>
                                                @item.FirstName
                                            </td>
                                            <td>
                                                @{
                                                    var dateDisplay = item.CreatedDate.HasValue
                                                        ? item.CreatedDate.Value.ToString("dd.MM.yyyy")
                                                        : "Tarih Yok";
                                                }

                                                @dateDisplay
                                            </td>

                                            <td>
                                                <button href="" onclick="openRezervationModal()" class="btn btn-primary">Detaylar</button>
                                            </td>
                                            <td>
                                                <a onclick="CancelRezervation(@item.Id)" class="btn btn-secondary">İptal Et</a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
